

.newnote{
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width:250px;
    min-height: 40px;
    background-color: white;
    border: 1px solid #dbd3d3;
    border-radius: 10px;
}

.newnote cds-icon{
    visibility: hidden;
}

.newnote:hover cds-icon{
    visibility: visible;
}

.title-new{
    height: 40px;
    border: none;
    margin-bottom: -6px;
    font-weight: 600;
    resize: none;
    width: 190px;
    padding-top: 10px;
    padding-left: 10px;
    border-radius: 20px;
}

.icon{
    margin-right: 140px;

    .bell, .user , .clr , .img, .arch{
        margin-right: 10px;

    }
}

.description-new{
    padding-top: 10px;
    height: 60px;
    border: none;
    resize: none;
    width: 190px;
    font-weight: 300;
    padding-left: 10px;

}

.title-new1{
    height: 60px;
    border: none;
    width:500px;
    resize: none;
    margin-bottom: 5px;

}

.icons{
    margin-bottom: 8px;
}

.description-new1{
    height: 80px;
    border: none;
    width: 500px;
    resize: none;

}

.newnote1{
    border: none;
}