.main-content{

    display: inline-block;
    font-size: 100px;
    font-weight: 700;
    padding: 40 40 40 40;
    font-size: large;
    
    .text1{
        color: blue;
    }
    
    .text2{
        color: red;
    }
    
    .text3{
        color: yellow;
    }
    
    .text4{
        color: blue;
    }
    
    .text5{
        color: green;
    }
    
    .text6{
        color: red;
    }
}