<div>
  <form class="form-main" clrForm [formGroup]="form" (ngSubmit)="submit()">
      <div>
        <!-- <app-fundooheader fxLayout="column" fxLayoutAlign="space-between center"></app-fundooheader> -->
        <div class="word" fxLayout="row" fxLayoutAlign="center">
          <h2><span class="letter">F</span></h2>
          <h2><span class="letter1">U</span></h2>
          <h2><span class="letter2">N</span></h2>          
          <h2><span class="letter">D</span></h2>
          <h2><span class="letter3">O</span></h2>
          <h2><span class="letter1">O</span></h2>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <h2>Forgot Password</h2>
        </div>
        <div fxLayout="column" fxLayoutAlign="center center">
          <h3>Recover fundoo account</h3>
        </div>
        <div class="email" fxLayout="row" fxLayoutAlign="center">
            <clr-input-container>
                <input clrInput formControlName="email" placeholder="Enter Email" name="email" required/>
                <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
              </clr-input-container>
        </div>
        <br><br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <a routerLink="/login">sign in?</a>
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
  </form>
</div> 

  