<div class="main-container">
  <div>
  <header class="header header-6">
    <div class="branding">
      <div class="nav-link">
        <cds-icon shape="bars" (click)="resize()" status="info"></cds-icon>
        <img src="../../../assets/images/keep.png" name="keep" class="keep" alt="keep_image">
        <span style="color: gray" class="title">Keep</span>
      </div>
    </div>
    <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="Search for keywords..." style="background: whitesmoke; border-radius: 10px;">
      </label>
    </form>
    <div class="header-actions">
      <button class="nav-link nav-icon" aria-label="refresh">
        <cds-icon shape="refresh" status="info"></cds-icon>
      </button>
      <button class="nav-link nav-icon" aria-label="view-list">
        <cds-icon shape="view-list" status="info"></cds-icon>
      </button>
      <button class="nav-link nav-icon" aria-label="cog">
        <cds-icon shape="cog" status="info"></cds-icon>
      </button>
      <button class="nav-link nav-icon" aria-label="google-app">
        <cds-icon shape="applications" status="info"></cds-icon>
      </button>
      <button class="nav-link nav-icon" aria-label="profile" fxLayoutAlign="center center">
        <img src="../../../assets/images/sumit.jpeg"  (click)="logout()" name="sumit" class="sumit" alt="sumit_image">
      </button>
    </div> 
   </header>
  </div>
  <!-- <app-headebar></app-headebar> -->
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed" style="background: white;">
      <a clrVerticalNavLink routerLink="./notes" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="lightbulb" ></cds-icon>
        Notes
      </a>
      <a clrVerticalNavLink routerLink="./reminders" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="bell"></cds-icon>
        Reminders
      </a>
      <a clrVerticalNavLink routerLink="./edit-labels" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="pencil"></cds-icon>
        Edit labels
      </a>
      <a clrVerticalNavLink routerLink="./archive" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="archive"></cds-icon>
        Archive
      </a>
        <a clrVerticalNavLink routerLink="./trash" routerLinkActive="active">
        <cds-icon clrVerticalNavIcon shape="trash"></cds-icon>
        Trash
      </a>
    </clr-vertical-nav>
    <div class="content-area" style="background: white;">
      <!-- <app-create-note></app-create-note>
      <app-display [cardArray]="parrentArray" ></app-display> -->
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- <app-sidebar></app-sidebar> -->
</div>
  <!-- <router-outlet> </router-outlet>   -->