.header{
    background-color: white;
    border-bottom: 1px solid gray; 
    padding: 40 40 40 40;
}

.bars{
    height : 30px;
    width: 30px;
}

.title{
    color:grey;
}

.keep{
    color:black;
    margin-left: 10px;
    margin-right: 10px;
    height: 30px;
}

input{
    width: 700px;
    height: 30px;
}

